# APP Configuration
NODE_ENV=development
PORT=3000

# JWT configuration
JWT_EXPIRE_TIME='1h'
JWT_SECRET=hello_this_is_encrypted_by_this_key
NODE_ENV=development
PORT=3000
DATABASE=mongodb://localhost:27017/natours
JWT_SECRET=hello_this_is_encrypted_by_this_key
JWT_EXPIRE_TIME='1h'


# SMTP server configuration
SMTP_HOST=
SMTP_PORT =
SMTP_IS_SECURE =
SMTP_USER=
SMTP_PASSWORD=

# DATABASE server configuration
DATABASE=mongodb://localhost:27017/natours

# SMTP server configuration
SMTP_HOST=
SMTP_PORT =
SMTP_IS_SECURE =
SMTP_USER=
SMTP_PASSWORD=